<% content_for :title, "Main pages" %>
<div class="main">
  <div>
  <%= image_tag "introduction_img.png", class: "profile_img" %>
  <h1 class="name" id="introduction">Daichi Takei</h1></div>
  簡単な経歴
  <div>1</div>
  <div>1</div>
  <div>1</div>

  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div><div>1</div><div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>


  <div><h2 id="portofolio">ポートフォリオ</h2></div>

  <div><h2 id="information_skill">情報系スキル</h2></div>
  <div>
  ・言語 HTML、CSS、JavaScript、Java、Perl、Python、Ruby
  </div>
  <div>
  ・フレームワーク Ruby on rails
  </div>
  <div>
  ・経験のある開発環境 VScode、github
  </div>

  <div><h2 id="hobby">趣味</h2></div>
  <div>・登山</div>
  <div>・サイクリング</div>
  <div>・散歩</div>

  <div>
    <h2 id="sns">SNS</h2>
    <div>
      <a href="https://x.com/CqbsAuCgYY51036" target="_blank">
        <i class="fa-brands fa-x-twitter">X</i>
      </a>
    </div>
    <div>
      <a href="https://qiita.com/daichitk1" target="_blank">Qiita</a>
    </div>
    <div>
      <a href="https://github.com/daichitk1" target="_blank">Github</a>
    </div>
  </div>
  <div><h2>受賞歴</h2>
  ・中体連県大会 800m 8位<br>
  ・ジャグリング新人戦東日本杯 3位
  </div>

  <div><h2>資格</h2>
  </div>
  <div><h2>お問い合わせ</h2></div>
  <div id="main_pages">
    <% @main_pages.each do |main_page| %>
      <%= render main_page %>
      <p>
        <%= link_to "Show this main page", main_page %>
      </p>
    <% end %>
  </div>

  <%= link_to "New main page", new_main_page_path %>
</div>