<% content_for :title, "Main pages" %>
<div class="main">
  <div class="introduction">
    <div>
      <%= image_tag "introduction_img.png", class: "profile_img" %>
      <h1 class="name" id="introduction">Daichi Takei</h1>
   </div>
    <div class="flex">
      <div>
        <a href="https://x.com/CqbsAuCgYY51036" target="_blank">
          <%= image_tag "logo-black.png", class: "sns_img" %>
        </a>
      </div>
      <div>
        <a href="https://github.com/daichitk1" target="_blank">
          <%= image_tag "github-mark.png", class: "sns_img" %>
        </a>
      </div>
    </div>
  </div>
  <div class="semi-title">
    <h2>簡単な経歴</h2>
    <h3>学歴</h3>
    2014年4月〜2017年3月<br> 静岡県立韮山高校 普通科<br><br>
    2018年4月〜2022年3月<br> 茨城大学工学部情報工学科<br><br>
    2022年4月〜2024年3月<br> 電気通信大学大学院<br> 情報理工学研究科 情報学専攻
    <h3>職歴</h3>
    2024年4月〜<br> IT企業にて4ヶ月のエンジニア研修ののち、<br>サポートチームに配属<br>
  </div>

  <div class="semi-title"><h2 id="information_skill">情報系スキル</h2></div>

  <div>
    <h3>プログラミング言語</h3>
    <div class="prog"><h4>2年以上</h4>
      Python、C
    </div>
    <div class="prog">
     <h4>2年未満</h4>
      HTML、CSS、JavaScript、Java、Perl、Ruby
    </div>
  </div>

  <div>
    <h3>フレームワーク</h3>
    Ruby on rails
  </div>

  <div>
    <h3>経験のある開発環境</h3>
     VScode、github、emacs
     <h3>その他</h3>
     サーバー: heroku
  </div>

  <div class="semi-title"><h2 id="portofolio">ポートフォリオ</h2></div>

  <div class="semi-title"><h2 id="hobby">趣味</h2></div>
  <div>
    <h3><a href="https://cat-and-mountain.com/">blog</a></h3>
    
    <h3>登山</h3>
    <a href="https://yamap.com/users/3228085" target="_blank"><%= image_tag "IMG_3168.png", class: "hobby_img" %></a>
  </div>
  <div><h3>サイクリング</h3></div>
  <div><h3>散歩</h3></div>


  <div class="semi-title"><h2>受賞歴</h2>
  中学3年<br> 中体連県大会 800m 8位<br><br>
  大学1年<br> ジャグリング新人戦東日本杯 3位
  </div>

  <div class="semi-title"><h2>資格</h2>なし</div>
</div>