/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 @import url('https://fonts.googleapis.com/css?family=Sacramento');
 @font-face {
  font-family: "kleeone";
  src: url('../fonts/KleeOne-Regular.ttf');
}
.top-introduction {
  background-image: url('IMG_5482.png');
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  background-size: cover;
  padding-top: 50px;
}
.introduction  {
  margin: 0 auto;
}
 .name {
  font-family: 'Sacramento', cursive;
  font-size: 120px;
  margin: 0;
 }
 .introduction-class {
    width:250px;
    height: 250px;
    background-image: url('introduction_img.png');
  }

.main {
  text-align: center;
  margin: 0 auto;
  background-color: #e7fcfe;
  padding-bottom: 100px;
}

body {
  font-family: "kleeone";
  font-size: 30px;
}


.profile_img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

h2 {
  position: relative;
  padding: 1rem .5rem;
  width: 500px;
  font-size: 50px;
  margin: 0 auto;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
  background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

h3 {
  color: rgb(106, 106, 250);
}

.hobby_img {
  width: 600px;
  border-radius: 70%;
}

.hobby_img:hover {
  opacity: 0.7;
}

.semi-title {
  margin: 50px auto 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}

.sns_img {
  width: 50px;
  height: 50px;
}

.sns_img:hover {
  opacity: 0.7;
}

.flex{
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}


.flex div{
  width: 100px;
}

.prog {
  background-color: #edf8fb;
  border: 2px solid #3498db;
  border-radius: 15px;
  margin: 20px auto 20px auto;
  width: 300px;
}

h4 {
  margin: 0;
}

.img {
  width: 500px;
}

.hobby-content {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  width: 1200px;
  margin: 0 auto;
}

.hobby {
  width: 500px;
}

.hobby-text {
  font-size: 20px;
}

.award-text {
  font-size: 20px;
}
div {
  font-size: 25px;
}

@media (max-width: 800px){
  .semi-title {
    margin: 50px auto 0 auto;
  }
  .main {
    margin: 0 auto;
    text-align: center;
  }
  .top-introduction {
    min-height: 30vh;
    background-size: cover;
  }
  .introduction-class {
    width:30px;
    height: 30px;
    background-image: url('introduction_img.png');
  }
  .profile_img {
    width: 100px;
    height: 100px;
  }
  .hobby-content {
    display:inline;
    width: 300px;
  }
  .hobby {
    width: 300px;
    margin: 0 auto;
  }
  .hobby_img {
    width: 300px;
    border-radius: 70%;
  }
  h2 {
    width: 100%;
    padding: 0;
    font-size: 40px;
  }
  .hobby-content {
    padding: 0;
  }
  .img {
    width: 300px;
  }
  .semi-title {
    padding: 0;
  }
  h3 {
    font-size: 30px;
  }
  .name {
    font-size: 50px;
  }
  div {
    font-size: 20px;
  }
  .top-introduction {
    padding: 20px;
  }

  @media (max-width: 400px){
    .semi-title {
      margin: 50px auto 0 auto;
    }
    .main {
      margin: 0 auto;
      text-align: center;
      padding: 10px;
    }
    .top-introduction {
      min-height: 15vh;
      background-size: cover;
    }
    .introduction-class {
      width:30px;
      height: 30px;
      background-image: url('introduction_img.png');
    }
    .profile_img {
      width: 0px;
      height: 0px;
    }
    .hobby-content {
      display:inline;
      width: 150px;
    }
    .hobby {
      width: 200px;
      margin: 0 auto;
    }
    .hobby_img {
      width: 200px;
      border-radius: 70%;
    }
    h2 {
      width: 300px;
      font-size: 30px;
    }
    .img {
      width: 300px;
    }
    .semi-title {
      padding: 0;
    }
    h3 {
      font-size: 25px;
    }
    .name {
      font-size: 50px;
    }
    div {
      font-size: 20px;
    }
    .top-introduction {
      padding: 20px;
    }
    .sns_img {
      width: 30px;
      height: 30px;
    }
    .award-text {
      font-size: 20px;
    }
    .hobby-text {
      font-size: 20px;
    }
  